@import "boilerplate.css";
.container {
  width: 960px;
  margin: 0 auto;
}
.grid-container {
  background-image: url("../img/pergamena.png");
  position: relative;
  width: 325px;
  margin-bottom: 20px;
  height: 370px;
  padding: 130px 0 0 75px;
}
.grid-container canvas {
  position: absolute;
  width: 258px;
  height: 258px;
  display: none;
}
.grid {
  border-collapse: separate;
  border-spacing: 2px;
}
.grid td {
  border: 1px solid black;
  width: 60px;
  height: 60px;
  padding: 0;
  line-height: 0;
}
.grid td textarea {
  background-color: #ffe65d;
  padding: 0;
  margin: 0;
  border: 0;
  resize: none;
  height: 60px;
  width: 60px;
  line-height: 60px;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}
.multipliers {
  margin-bottom: 50px;
}
.multipliers td {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  padding: 0;
  text-align: center;
  font-size: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  font-family: sans-serif;
  cursor: pointer;
}
.multipliers td.reset {
  padding: 0 8px;
}
.grid td textarea[data-multiplier=DL],
.multipliers td[data-multiplier=DL] {
  background-color: lightgreen;
}
.grid td textarea[data-multiplier=TL],
.multipliers td[data-multiplier=TL] {
  background-color: lightblue;
}
.grid td textarea[data-multiplier=DW],
.multipliers td[data-multiplier=DW] {
  background-color: yellow;
}
.grid td textarea[data-multiplier=TW],
.multipliers td[data-multiplier=TW] {
  background-color: red;
}
.words-list {
  float: right;
}
.words-list .active {
  background-color: yellow;
}
