/*@import "boilerplate.css";*/
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
  background-image: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/debut_dark.png);
}
.column-wrapper {
  overflow: hidden;
  margin: 0 auto;
  width: 900px;
}
.column-container {
  margin: 0 20px;
  box-shadow: 0 0 20px gray;
  padding: 30px;
  background-image: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/debut_light.png);
}
.wide-container {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  background-image: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/bgnoise_lg.png);
}
.wide-container > div {
  width: 800px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}
header.column-container {
  padding: 70px 30px 20px;
}
header.column-container h1 {
  margin: 0;
  font-size: 50px;
  line-height: 60px;
  display: inline-block;
}
header.column-container h3 {
  display: inline-block;
  margin: 0 0 0 20px;
}
header.column-container .ad-leaderboard-top {
  margin: 20px auto 0;
  display: none;
}
section.bottom {
  display: none;
}
section.bottom .good-button,
section.bottom .bad-button {
  width: 250px;
  height: 60px;
}
section.bottom .ad-banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}
.foot {
  color: grey;
  font-size: 12px;
  margin-top: 10px;
}
.ad-leaderboard-bottom {
  margin: 0 auto;
  display: none;
}
article {
  height: 600px;
}
article .ad-skyscraper {
  display: none;
  float: left;
}
article .right-skyscraper {
  display: none;
  float: right;
  width: 180px;
}
article .grid-skyscraper {
  display: none;
  float: left;
  margin: 0 30px;
}
article .ad-halfpage,
article .ad-largerect,
article .countdown-box,
article .countdown-box-end,
article .share-box {
  display: none;
  margin: 0 40px;
  float: left;
}
article .countdown-box {
  width: 336px;
  margin-top: 20px;
}
article .countdown-box .countdown {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 30px;
  margin-top: 10px;
}
article .countdown-box-end {
  width: 336px;
}
article .countdown-box-end button {
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
  margin-top: 20px;
}
article .share-box {
  width: 336px;
}
article .share-box .fb-like {
  margin-top: 10px;
}
.grid-container {
  background-image: url("../img/pergamena.png");
  position: relative;
  width: 325px;
  margin-bottom: 20px;
  height: 370px;
  padding: 130px 0 0 75px;
}
.grid-container canvas {
  position: absolute;
  width: 258px;
  height: 258px;
  display: none;
}
.grid-container .grid {
  border-collapse: separate;
  border-spacing: 2px;
}
.grid-container .grid td {
  border: 1px solid black;
  width: 60px;
  height: 60px;
  padding: 0;
  line-height: 0;
}
.grid-container .grid td textarea {
  background-color: #ffe65d;
  padding: 0;
  margin: 0;
  border: 0;
  resize: none;
  height: 60px;
  width: 60px;
  line-height: 60px;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}
.multipliers {
  display: none;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 20px;
}
.multipliers td {
  width: 50px;
  height: 50px;
  padding: 0;
  text-align: center;
  font-size: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  font-family: sans-serif;
  cursor: pointer;
}
.grid td textarea[data-multiplier=DL],
.multipliers td[data-multiplier=DL] {
  background-color: #12af16;
}
.grid td textarea[data-multiplier=TL],
.multipliers td[data-multiplier=TL] {
  background-color: #007bd3;
}
.grid td textarea[data-multiplier=DW],
.multipliers td[data-multiplier=DW] {
  background-color: #fece2c;
}
.grid td textarea[data-multiplier=TW],
.multipliers td[data-multiplier=TW] {
  background-color: #ed0408;
}
.multipliers td.reset {
  background-color: #CCC;
}
.current-info {
  display: none;
  text-align: center;
  margin: 0 auto;
}
.current-info h1,
.current-info h3 {
  margin: 0;
}
.current-info h1 {
  font-size: 4em;
  line-height: 1em;
  text-transform: uppercase;
}
.words-list {
  height: 330px;
  overflow: scroll;
  margin-bottom: 20px;
}
.words-list ul {
  padding: 0;
  margin: 0;
}
.words-list li {
  display: block;
  padding: 10px;
  width: 150px;
  height: 25px;
  border-top: 1px solid gray;
}
.words-list li .word {
  text-transform: uppercase;
  max-width: 120px;
  overflow: hidden;
  display: inline-block;
}
.words-list li .points {
  float: right;
}
.words-list li.active {
  background-color: #ffe65d;
}
button.clear,
button.walk,
button.new {
  display: none;
  width: 100%;
  height: 40px;
  margin-top: 10px;
}
.beta-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000;
  opacity: 0.9;
  z-index: 99;
}
.beta-box {
  position: absolute;
  left: 50%;
  width: 600px;
  margin-left: -350px;
  background-color: #DDD;
  z-index: 100;
  padding: 25px 50px;
  top: 30%;
  border-radius: 20px;
  font-size: 1.5em;
  line-height: 1.5em;
}
.beta-box p {
  position: relative;
}
.beta-box input {
  width: 60%;
  right: 0;
  position: absolute;
}
.beta-screen {
  display: none;
}
.state-playing .current-info {
  display: block;
}
.state-playing section.bottom {
  display: block;
}
.state-playing canvas {
  display: block;
}
.state-playing .ad-skyscraper,
.state-playing .grid-skyscraper,
.state-playing .right-skyscraper {
  display: block;
}
.state-playing .words-list {
  height: 380px;
}
.state-playing button.new {
  display: inline-block;
}
.state-ready .multipliers {
  display: block;
}
.state-ready .ad-skyscraper,
.state-ready .grid-skyscraper,
.state-ready .right-skyscraper {
  display: block;
}
.state-ready button.walk,
.state-ready button.clear {
  display: inline-block;
}
.state-beta .beta-screen {
  display: block;
}
.state-beta .ad-skyscraper,
.state-beta .grid-skyscraper,
.state-beta .right-skyscraper {
  display: block;
}
.state-countdown .ad-halfpage {
  display: block;
}
.state-countdown .ad-largerect {
  display: block;
}
.state-countdown .countdown-box {
  display: block;
}
.state-countdown .share-box {
  display: block;
}
.state-countdown.state-countdown-end .countdown-box {
  display: none;
}
.state-countdown.state-countdown-end .countdown-box-end {
  display: block;
}
