/*@import "boilerplate.css";*/
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}
.column-wrapper {
  overflow: hidden;
  margin: 0 auto;
  width: 900px;
}
.column-container {
  margin: 0 20px;
  box-shadow: 0 0 20px gray;
  padding: 30px;
}
.wide-container {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.wide-container > div {
  width: 800px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}
header.column-container {
  padding: 70px 30px 20px;
}
header.column-container h1 {
  margin: 0;
  font-size: 50px;
  line-height: 60px;
  display: inline-block;
}
header.column-container h3 {
  display: inline-block;
  margin: 0 0 0 20px;
}
section.bottom {
  display: none;
}
section.bottom .good-button,
section.bottom .bad-button {
  width: 150px;
  height: 40px;
}
section.bottom .good-button {
  float: right;
}
section.bottom .bad-button {
  float: left;
}
section.bottom .current-info {
  width: 300px;
  display: inline-block;
}
section.bottom .current-info h1,
section.bottom .current-info h3 {
  margin: 0;
}
.state-playing section.bottom {
  display: block;
}
article {
  height: 600px;
}
article .ad-skyscraper {
  float: left;
}
article .right-skyscraper {
  float: right;
  width: 170px;
}
article .grid-skyscraper {
  float: left;
  margin: 0 30px;
}
.grid-container {
  background-image: url("../img/pergamena.png");
  position: relative;
  width: 325px;
  margin-bottom: 20px;
  height: 370px;
  padding: 130px 0 0 75px;
}
.grid-container canvas {
  position: absolute;
  width: 258px;
  height: 258px;
  display: none;
}
.grid-container .grid {
  border-collapse: separate;
  border-spacing: 2px;
}
.grid-container .grid td {
  border: 1px solid black;
  width: 60px;
  height: 60px;
  padding: 0;
  line-height: 0;
}
.grid-container .grid td textarea {
  background-color: #ffe65d;
  padding: 0;
  margin: 0;
  border: 0;
  resize: none;
  height: 60px;
  width: 60px;
  line-height: 60px;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}
.state-playing canvas {
  display: block;
}
.multipliers {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 20px;
}
.multipliers td {
  width: 50px;
  height: 50px;
  padding: 0;
  text-align: center;
  font-size: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  font-family: sans-serif;
  cursor: pointer;
}
.grid td textarea[data-multiplier=DL],
.multipliers td[data-multiplier=DL] {
  background-color: #12af16;
}
.grid td textarea[data-multiplier=TL],
.multipliers td[data-multiplier=TL] {
  background-color: #007bd3;
}
.grid td textarea[data-multiplier=DW],
.multipliers td[data-multiplier=DW] {
  background-color: #fece2c;
}
.grid td textarea[data-multiplier=TW],
.multipliers td[data-multiplier=TW] {
  background-color: #ed0408;
}
.multipliers td.reset {
  background-color: #CCC;
}
.words-list {
  height: 465px;
  overflow: scroll;
  margin-bottom: 20px;
}
.words-list ul {
  padding: 0;
  margin: 0;
}
.words-list li {
  display: block;
  padding: 10px;
  width: 150px;
  height: 25px;
  border-top: 1px solid gray;
}
.words-list li .word {
  text-transform: uppercase;
}
.words-list li .points {
  float: right;
}
.words-list li.active {
  background-color: #ffe65d;
}
.clear,
.walk {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}
.clear {
  margin-top: 25px;
}
